body {
    margin: 0;
    min-height: 500vh;
    background-color: #a9b1c2;
    animation: body 1s linear;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #1b382e;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
 
  }
  @keyframes body {
    to {
      background-color: #6e7a91;
    }
  }

  @media only screen and (min-width: 850px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        /*grid-template-columns: minmax(min-content, 75ch) min-content;*/
        grid-column-gap: 3em; 
        padding: 2em;
    }
    } 

p {
    margin-top: 0;
    padding-top: 0; 
}
#wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: baseline;
}

.header {
  padding: 25px;
  margin-top: 50px;
  min-height: 70vh;
  align-items: center;
  
}

h1 {
  margin: 0;
  padding: 0;
    font-size: 75pt;
    font-weight: 900;
    background: rgb(209, 207, 201);

}

h2 {
    
    font-size: 25pt;
    background: skyblue;

}

.h2_side {
    writing-mode: vertical-lr;
    background: rgb(199, 231, 147);
    align-self: flex-start;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 30pt;
}

h4 { 
  margin: 0; 
  padding: 0; 
  
}

img {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dom {
  position: fixed;
  bottom: 1%;
  right: 5%;
 color: white ;
 background: darkcyan;
  

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
    font-size: 15pt;
    font-weight: 700;
   
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  .pasop {
      font-size: 45pt;
      font-weight: 700;
      color: orange;
  }

.weer-container {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  gap: 50px;
}

  #cont_dcf144d017462a0e184a247db7c1e03a {
    align-self: flex-start;
  }

  .arrow {
    font-size: 80px;
    align-self: center;
   
  }

  .zeerdom {
    display: inline-block;
    animation: rotate 3s linear infinite;
    font-size: 40pt;
    font-weight: 900;
    color: rgb(183, 245, 111);
    
    
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  .dom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

  }


.button { 
 width: 300px;
 height: 200px;
 background: yellow;
 display: flex;
 justify-content: center;
align-items: center;
 align-self: center;
 font-size: 24pt;
 font-weight: 900;
}
  
 